
@{
    ViewBag.Title = "Create";
}

@ViewBag.t

<form style="margin-top:100px;" action="/San/Create" method="post">

    <input type="text" name="MASAN" />
    <input type="text" name="TENSAN" />
    <input type="text" name="DIACHI" />
    <button type="submit"> gửi </button>
</form>

