@model XML.Models.SAN
@{
    ViewBag.Title = "Edit";
}
<form style="margin-top:100px;" action="/San/Edit" method="post">

    <input type="hidden" name="MASAN" value="@Model.MASAN" />
    <input type="text" name="TENSAN" value="@Model.TENSAN" />
    <input type="text" name="DIACHI" value="@Model.DIACHI" />

    <button type="submit"> Sửa </button>
</form>